.button {
  font-size: 20px;
  text-align: center;
}

.title {
	text-align: center;
}

.table, .tr, .td {
  border: 1px solid #cbcbcb;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;  
  width: 30%;
}

.form {
  display: block;
}

.half {
  width: 45%;
  display: inline-block;
  position: relative;
}

.section {	
  opacity: 0;  
}

.section_fadeIn {
  -webkit-transition: opacity .9s ease-in-out;
  -moz-transition: opacity .9s ease-in-out;
  -o-transition: opacity .9s ease-in-out;
  font-size: 35px;
  font-weight: bold;
  opacity: 1;
  text-align: center;  
  transition: opacity .9s ease-in-out;
}

