.container {
    height: 100vh;
    width: 100vw;
}

.info {
    box-sizing: border-box;
    float: left;
    font-size: 12px;
    height: 25vh;
    margin-left: 2vw;
    margin-right: 2.5vw;
    padding-top: 0.5vw;
    width : 45vw;
}

.frame {
    box-sizing: border-box;
    float:left;
    margin-left: 2vw;
    margin-top: 2vw;
    width: 30vw;
}

.showcase {
    box-sizing: border-box;
    float:left;
    font-size: 12px;
    font-weight: bold;
    height: 25vh;
    margin-left: 2vw;
    margin-right: 2.5vw;
    padding-top: 0.5vw;
    width : 30vw;
}

.frame__span {
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    position: relative;
    top: 4vh;
}

.frame .frame__image {
    height:30vh;
    width:30vw;
}

.frame:hover .frame__span {
    opacity: 1;
    visibility: visible;
}

.frame:hover .frame__image {
    opacity: 0.3;
}

.frame:nth-of-type(odd) .frame__span {
    color: Green;
}

.frame:nth-of-type(even) .frame__span{
    color: Blue;
}