* {
   
   font-size: 14px ;
   font-family: "Times New Roman";
}

aside {
    background-color: Green;
}

footer {
    background-color: Red;
    text-align: center;
}

header {
    background-color: Blue;
    text-align: center;
}

nav {
    background-color: Green;
}

.content{
    font-size: 14px;
}

.footer {
    font-size: 10px;
}

.header {
   font-size: 46px ;

}

.navigation {
    font-size: 12px;
}

.sidebar {
    font-size: 10px;
}

.header,.sidebar,.footer{
    background-color: Magenta;
}

.navigation{
    background-color: Blue;
}