* {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 14px;
}

.button {
    display: block;
    margin-left: auto;
    margin-top: 1%;
    margin-right: auto;
    text-align: center;    
}

.drop {
    text-align: center;
    font-size: 50px;
    width: 100%;
}

.header {
    text-align: center;
    font-size: 46px;
    width: 100%;
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

.footer {    
    font-size: 10px;
    text-align: center;
}