* {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 14px;
}

.header {
    text-align: center;
    font-size: 46px;
    width: 100%;
}

.form {
    display: block;
}

.footer {    
    font-size: 10px;
    text-align: center;
}