.container {
    height: 100vh;
    width: 100vw;
}

.frame {
    box-sizing: border-box;
    display: inline-block;
    float:left;
    margin: 3px;
    max-width: 400px;
}

.frame--canvas {
    background-color: white;
    border-style: double;
    border-width: 3px;
    box-sizing: border-box;
    display: block;
    height: 200px;
    padding: 2px;
    width:400px;
}

.frame--header {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
}