.div {
    display: inline-block;
    float: left;
}

.div--clearbutton {
    float: left;
    margin-left: 2px;
    margin-top: 2px; 
}

.div--label, .div--textinput {
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-left: 5px;
    padding: 3px;
}

.div--savebutton {
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}
