.container {
    box-sizing: border-box;
    display: block;
}

.container:hover .description {
    visibility: visible;
    display: block;
}

.title {
    display: none;
}

.desc {
    display: block;
    text-align: center;
}

.img {
    position: relative;
    margin: 0 auto;
}

.description:hover {
    visibility: visible;
    opacity: 1;
}

.description {
    font-size: 24px;
    visibility: hidden;
    display: none;
}

.img:hover {
    opacity: 0.4;
}
